# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a9ff160ac55ac49c4fd32e4e9c3cf55ec0c452aac6132cd76feb8aa177c214123363b07e7a53ad5f2f0a739f2d63fc54be95862d1572b333e3412caaa8e2688c

test:
  secret_key_base: f2d48d513c6ea8256bc95446eff269d4d631edf8e740b4fd1614557098a32a3aafde0622ddd59f7403261942945607c040f5f19181d8e2dc2013f89db440c4bf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
